.main {
    background-color: aqua;
    height: 500px;
    width: 500px;
    position: relative;
   
    
}

#one{ display: inline-block;
    background-color:red;
    height: 50px;
    width: 50px;
    margin-left: 100px;    
    animation: upanddown 1.5s infinite alternate;
}
    
 

#two{
    display: inline-block;
    background-color:red;
    height: 50px;
    width: 50px;
    margin-left: 250px;
    
    animation: upanddown 1s infinite alternate;
}

.player{
    position: absolute;
    background-color: blue;
    height: 50px;
    width: 50px;
    margin-top: 180px;
}
    

@keyframes upanddown {
    0%{transform: translateY(0);}
    100%{transform: translateY(450px);}
    
}