div{
    height: 50px;
    width: 50px;
    margin: 30px;
    background-color: midnightblue;
}

#two {
    transform: translateX(30px) translateY(20px);
}

#four {
    transform: rotate(45deg);
}

#six{
    transform : skewX(10deg);
}

#eight {
    transform: scale(2);
}